#main{
    box-sizing: border-box;
    transition: margin-left 0.7s;
    padding:20px;
    overflow: hidden;
    width: auto;
}

@media screen and (max-width:570px){
    #main{
        padding:9px;
    }
}